body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: blue; 
}

p {
    color: darkslategray;
}
h2 {
    color: magenta; 
}
li {
    background-color: yellowgreen;
    color: brown;

}
h6 {
    color:aliceblue;
    background-color: black;
}
footer p {
    font-size: smaller;
    color: purple;
}