body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: blue; 
}
h2 {
    color: lime; 
}
p {
    color: darkslategray;
}
li {
    background-color: yellowgreen;
    color: brown;
}